.nav-card {
    @apply   text-black flex items-center justify-center bg-white ;
    border : 2px solid black;
    width:95%;
    margin-right: 0;
    position:sticky;
}

.nav-buttons {
    border : 2px solid black;
    margin-left:10px
}
